.col-2 {
  height: 1600px;
  background-color: black;
  color: white;
}

.tables {
  font-size: 20px;
  cursor: pointer;
}

.tables:hover {
  background-color: #636e72;
}

.table-of-content {
  margin-top: 70px;
}

.btn-insert {
  margin-left: 50px;
}

form {
  box-shadow: 0px 0px 10px 0px #000;
  padding: 8px;
}
