header h1 {
  font-size: 50px;
}

.video {
  display: block;
  margin: 0 auto;
  height: 700px;
  width: 70%;
}

.btn-feedback {
  display: block;
  margin: 90px auto;
  font-size: 35px;
  width: 30%;
}
