.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.another-quiz {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.jumbotron p {
  font-size: 20px;
}
